# Common names in the U.S.

In [1]:
f = open("dq_unisex_names.csv","r")
names = f.read()

In [6]:
names_list = names.split("\n")

In [7]:
names_list[0:5]

['Casey,176544.328149',
 'Riley,154860.66517300002',
 'Jessie,136381.830656',
 'Jackie,132928.78874000002',
 'Avery,121797.41951600001']

In [9]:
nested_list = []
for row in names_list:
    nested_list.append(row.split(','))

In [11]:
nested_list[0:5]

[['Casey', '176544.328149'],
 ['Riley', '154860.66517300002'],
 ['Jessie', '136381.830656'],
 ['Jackie', '132928.78874000002'],
 ['Avery', '121797.41951600001']]

In [12]:
numerical_list = []
for row in nested_list:
    numerical_list.append([row[0],float(row[1])])

In [13]:
numerical_list[0:5]

[['Casey', 176544.328149],
 ['Riley', 154860.66517300002],
 ['Jessie', 136381.830656],
 ['Jackie', 132928.78874000002],
 ['Avery', 121797.41951600001]]

In [15]:
thousand_or_greater = []
for row in numerical_list:
    if row[1] >= 1000:
        thousand_or_greater.append(row[0])

In [16]:
thousand_or_greater[0:5]

['Casey', 'Riley', 'Jessie', 'Jackie', 'Avery']