# Binary Search

We'll be working with nba, a data set containing the names and ages of National Basketball Association (NBA) players from 2013, along with some statistics.

In [1]:
import pandas as pd
import math

In [2]:
nba = pd.read_csv("nba_2013.csv")

In [3]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

### Implementing Binary Search - Part 1

In [4]:
# A function to extract a player's last name

def format_name(name):
    return name.split(" ")[1] + ", " + name.split(" ")[0]

In [9]:
length = len(nba)
    
def player_age(name):
    idx = math.floor(length/2)
    guess = format_name(nba.loc[idx][0])
    
    if format_name(name) < guess:
        return "Earlier"
    elif format_name(name) > guess:
        return "Later"
    else:
        return "Found"

In [10]:
johnson_odom_age = player_age("Darius Johnson-Odom")
johnson_odom_age

'Found'

In [11]:
young_age = player_age("Nick Young")
young_age

'Later'

In [12]:
adrien_age = player_age("Jeff Adrien")
adrien_age

'Earlier'

### Implementing Binary Search - Part 2

In [19]:
def player_age(name):

    up = length - 1
    low = 0
    
    idx_1 = math.floor(length/2)
    guess_1 = format_name(nba.loc[idx_1][0])

    if format_name(name) < guess_1:
        up = idx_1 - 1
    elif format_name(name) > guess_1:
        low = idx_1 + 1
    else:
        return guess_1
    
    idx_2 = math.floor((low + up) / 2)
    guess_2 = format_name(nba.loc[idx_2][0])
    return guess_2

In [20]:
gasol_age = player_age("Pau Gasol")
gasol_age

'De, Nando'

In [21]:
pierce_age = player_age("Paul Pierce")
pierce_age

'Prigioni, Pablo'

### Implementing Binary Search - Part 3

In [28]:
def player_age(name):
    
    up = length - 1
    low = 0
    idx = math.floor((up + low) / 2)
    guess = format_name(nba.loc[idx][0])

    while format_name(name) != guess:
        if format_name(name) < guess:
            up = idx - 1
        else:
            low = idx + 1
        idx = math.floor((low + up) / 2)
        guess = format_name(nba.loc[idx][0])
        
    return "Found"

In [29]:
carmelo_age = player_age("Carmelo Anthony")
carmelo_age

'Found'

### Implementing Binary Search - Part 4

In [38]:
def player_age(name):

    up = length - 1
    low = 0
    idx = math.floor((up + low) / 2)
    
    guess = format_name(nba.loc[idx][0])
    while format_name(name) != guess and up >= low:
        if format_name(name) < guess:
            up = idx - 1
        else:
            low = idx + 1
        idx = math.floor((low + up) / 2)
        guess = format_name(nba.loc[idx][0])
    if format_name(name) == guess:
        return nba.loc[idx][2]
    else:
        return "Player Not Found"

In [39]:
curry_age = player_age("Stephen Curry")
curry_age

25

In [40]:
griffin_age = player_age("Blake Griffin")
griffin_age

24

In [41]:
jordan_age = player_age("Michael Jordan")
jordan_age

'Player Not Found'