# Gradient Descent

We'll work with a dataset on sold houses in Ames, Iowa. Each row in the dataset describes the properties of a single house as well as the amount it was sold for. Here are some of the columns: 

- `Lot Area`: Lot size in square feet.
- `Overall Qual`: Rates the overall material and finish of the house.
- `Overall Cond`: Rates the overall condition of the house.
- `Year Built`: Original construction date.
- `Low Qual Fin SF`: Low quality finished square feet (all floors).
- `Full Bath`: Full bathrooms above grade.
- `Fireplaces`: Number of fireplaces.

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('AmesHousing.txt', delimiter="\t")
data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [8]:
train = data[0:1460]
test = data[1460:]

target = 'SalePrice'

### Implementing the derivative function

In [10]:
def derivative(a1, xi_list, yi_list):
    error = 0
    for i in range(0, len(xi_list)):
        error += xi_list[i]*(a1*xi_list[i] - yi_list[i])
    deriv = 2*error/len(xi_list)
    return deriv

### Implementing the Gradient Descent function

In [11]:
def gradient_descent(xi_list, yi_list, max_iterations, alpha, a1_initial):
    a1_list = [a1_initial]

    for i in range(0, max_iterations):
        a1 = a1_list[i]
        deriv = derivative(a1, xi_list, yi_list)
        a1_new = a1 - alpha*deriv
        a1_list.append(a1_new)
        
    return(a1_list)

In [13]:
param_iterations = gradient_descent(train['Gr Liv Area'], train['SalePrice'], 20, .0000003, 150)
param_iterations

[150,
 106.24258269493151,
 126.61281661731272,
 117.12993450021699,
 121.54446668425497,
 119.48938531096931,
 120.44607998998796,
 120.00071333893449,
 120.20804328256295,
 120.11152571569237,
 120.15645719327628,
 120.13554040327286,
 120.1452777216869,
 120.14074474268385,
 120.14285496418101,
 120.14187260031741,
 120.14232991665213,
 120.142117023815,
 120.14221613105579,
 120.14216999401657,
 120.14219147202738]

In [14]:
final_param = param_iterations[-1]
final_param

120.14219147202738

### Multi Parameter Gradient Gescent

In [15]:
def a1_derivative(a0, a1, xi_list, yi_list):
    error = 0
    for i in range(0, len(xi_list)):
        error += xi_list[i]*(a0 + a1*xi_list[i] - yi_list[i])
    deriv = 2*error/len(xi_list)
    return deriv

def a0_derivative(a0, a1, xi_list, yi_list):
    error = 0
    for i in range(0, len(xi_list)):
        error += a0 + a1*xi_list[i] - yi_list[i]
    deriv = 2*error/len(xi_list)
    return deriv

In [16]:
def gradient_descent(xi_list, yi_list, max_iterations, alpha, a1_initial, a0_initial):
    a1_list = [a1_initial]
    a0_list = [a0_initial]

    for i in range(0, max_iterations):
        a1 = a1_list[i]
        a0 = a0_list[i]
        
        a1_deriv = a1_derivative(a0, a1, xi_list, yi_list)
        a0_deriv = a0_derivative(a0, a1, xi_list, yi_list)
        
        a1_new = a1 - alpha*a1_deriv
        a0_new = a0 - alpha*a0_deriv
        
        a1_list.append(a1_new)
        a0_list.append(a0_new)
        
    return(a0_list, a1_list)

In [17]:
a0_params, a1_params = gradient_descent(train['Gr Liv Area'], train['SalePrice'], 20, .0000003, 150, 1000)

In [18]:
print(a0_params)

[1000, 999.9729797812329, 999.985903701066, 999.980232547139, 999.9832179015052, 999.9821734177915, 999.983004932363, 999.9829631191217, 999.9833278635107, 999.98350334434, 999.9837669324418, 999.9839895042135, 999.9842311701743, 999.9844639472566, 999.9847008623329, 999.9849358510428, 999.9851717365096, 999.9854072044933, 999.985642866808, 999.9858784386378, 999.986114052572]

In [19]:
print(a1_params)

[150, 105.34801721547944, 126.13471917628125, 116.45794862200977, 120.96274606972909, 118.86564116059868, 119.84189984026605, 119.38742488614261, 119.59899502291616, 119.50050320781361, 119.54635359313434, 119.52500879150305, 119.53494516153384, 119.53031930255781, 119.53247255390217, 119.53146994657168, 119.53193647656232, 119.53171908350993, 119.53182007507831, 119.53177285001942, 119.53179462379771]

In [20]:
final_a0 = a0_params[-1]
final_a0

999.986114052572

In [21]:
final_a1 = a1_params[-1]
final_a1

119.53179462379771