# Querying SQLite from Python

We'll work with the American Community Survey data on college majors and job outcomes. The database file we'll be working with is called jobs.db. Here are the columns descriptions:

- `Rank` - The major's rank by median earnings
- `Major_code` - The major's code or ID
- `Major` - The name of the major
- `Major_category` - The broader category the major belongs to
- `Total` - The total number of people who studied the major
- `Sample_size` - The sample size (unweighted) of graduates with full time jobs
- `Men` - The number of male graduates
- `Women` - The number of female graduates
- `ShareWomen` - Women as a proportion of the total number of graduates (a number ranging from 0 to 1)
- `Employed` - The number of employed graduates

A subset of the data is loaded into a table named recent_grads in a database. The subset contains the 2010-2012 data for recent college grads only.

In [1]:
import sqlite3

In [2]:
# connect to the database we want to query
conn = sqlite3.connect("jobs.db")

In [3]:
# return a Cursor instance corresponding to the database
cursor = conn.cursor()

In [4]:
# write a query that returns all of the values in the Major column from the recent_grads table
query = "select Major from recent_grads;"

In [5]:
# execute the query
cursor.execute(query)

In [6]:
# store the full results set (a list of tuples) in majors
majors = cursor.fetchall()

In [7]:
# print the first three tuples in majors
print(majors[0:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

In [8]:
# skip creating a Cursor
conn = sqlite3.connect("jobs.db")
query = "select Major from recent_grads;"
majors = conn.execute(query).fetchall()
print(majors[0:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

In [9]:
# write and run a query that returns the Major and Major_category columns from recent_grads
query = "select Major, Major_category from recent_grads;"

In [10]:
# fetch the first five results and store them as five_results
five_results = conn.execute(query).fetchmany(5)
print(five_results)

[('PETROLEUM ENGINEERING', 'Engineering'), ('MINING AND MINERAL ENGINEERING', 'Engineering'), ('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering')]

In [11]:
# close the connection to the database
conn.close()

In [12]:
# connect to the database jobs2.db, which contains the same data as jobs.db
conn = sqlite3.connect("jobs2.db")

In [13]:
# write and execute a query that returns all of the majors (Major) in reverse alphabetical order
query = "select Major from recent_grads order by Major desc;"
conn.execute(query)

In [14]:
# assign the full result set to reverse_alphabetical
reverse_alphabetical = conn.execute(query).fetchall()

In [16]:
print(reverse_alphabetical[0:5])

[('ZOOLOGY',), ('VISUAL AND PERFORMING ARTS',), ('UNITED STATES HISTORY',), ('TREATMENT THERAPY PROFESSIONS',), ('TRANSPORTATION SCIENCES AND TECHNOLOGIES',)]

In [17]:
# close the connection to the database
conn.close()