# Memory and Unicode

In [68]:
import csv
import pandas as pd
from collections import Counter

### Exploring binary numbers

In [2]:
# Let's say b is a binary number

b = "10"
print(int(b, 2))

2

In [3]:
base_10_100 = int("100", 2)
base_10_100

4

### Adding binary numbers

In [4]:
a = 9
a += 1
print(a)

10

In [5]:
a = 19
a += 1
a

20

In [6]:
a = 99
a += 1
a

100

In [7]:
def binary_add(a, b):
    return bin(int(a, 2) + int(b, 2))[2:]

In [8]:
b = "1"
c = binary_add(b, "1")
c

'10'

In [9]:
bin(5)

'0b101'

In [10]:
bin(8)

'0b1000'

### Converting binary values to other bases

In [11]:
a = 0
b = "0"

for i in range(0, 10):
    a += 1
    b = binary_add(b, "1")
    print(int(b, 2) == a)

True
True
True
True
True
True
True
True
True
True

In [12]:
base_10_1001 = int("1001",2)
base_10_1001

9

### Converting characters to binary

In [13]:
ord('a')

97

In [14]:
bin(ord('a'))

'0b1100001'

In [15]:
bin(ord('ÿ'))

'0b11111111'

In [16]:
binary_w = bin(ord('w'))
binary_w

'0b1110111'

In [17]:
binary_bracket = bin(ord('}'))
binary_bracket

'0b1111101'

In [18]:
code_point = "မ"
binary_1019 = bin(ord(code_point))
binary_1019

'0b1000000011001'

### Exploring the Unicode

In [19]:
code_point = "⟶"
code_point

'⟶'

In [20]:
ord(code_point)

10230

In [21]:
bin(ord(code_point))

'0b10011111110110'

### Making Unicode strings

In [22]:
a ="\u1019"
b = "မ"
a == b

True

In [23]:
s3 = "hello မ"
s3

'hello မ'

### The Bytes data type

In [24]:
superman = "Clark Kent␦"
superman

'Clark Kent␦'

In [25]:
superman_bytes = "Clark Kent␦".encode("utf-8")
superman_bytes

b'Clark Kent\xe2\x90\xa6'

In [26]:
batman = "Bruce Wayne␦"
batman_bytes = batman.encode("utf-8")
batman_bytes

b'Bruce Wayne\xe2\x90\xa6'

### Hexadecimal conversions

In [27]:
int("F", 16)

15

In [28]:
int("A", 16)

10

In [29]:
def hexadecimal_add(a, b):
    return hex(int(a, 16) + int(b, 16))[2:]

In [30]:
value = "9"
value = hexadecimal_add(value, "1")
value

'a'

In [31]:
hex_ea = hexadecimal_add("ea","2")
hex_ea

'ec'

In [32]:
hex_ef = hexadecimal_add("f","e")
hex_ef

'1d'

### Hex to binary conversion

In [33]:
hex_byte = "â"
ord(hex_byte)

226

In [34]:
int("e2", 16)

226

In [35]:
bin(ord("â"))

'0b11100010'

In [36]:
binary_aa = bin(ord("\xaa"))
binary_aa

'0b10101010'

In [37]:
binary_ab = bin(ord("\xab"))
binary_ab

'0b10101011'

### String and Byte data types

In [38]:
hulk_bytes = "Bruce Banner␦".encode("utf-8")
hulk_bytes

b'Bruce Banner\xe2\x90\xa6'

In [39]:
try:
    hulk_bytes.replace("Banner", "")
except Exception:
    print("TypeError with replacement")

TypeError with replacement

In [40]:
hulk_bytes = b"Bruce Banner"
hulk_bytes

b'Bruce Banner'

In [41]:
hulk_bytes.replace(b"Banner", b"")

b'Bruce '

In [42]:
thor_bytes = b"Thor"
thor_bytes

b'Thor'

### Decoding Bytes to Strings

In [43]:
aquaman_bytes = b"Who knows?"
aquaman = aquaman_bytes.decode("utf-8")
aquaman

'Who knows?'

In [44]:
type(aquaman)

str

In [45]:
morgan_freeman_bytes = b"Morgan Freeman"
morgan_freeman = morgan_freeman_bytes.decode("utf-8")
morgan_freeman

'Morgan Freeman'

### Reading in file data

In [46]:
f = open("legislators.csv", 'r', encoding="utf-8")
csvreader = csv.reader(f)
legislators = list(csvreader)
legislators[0:5]

[['last_name', 'first_name', 'birthday', 'gender', 'type', 'state', 'party'],
 ['Bassett', 'Richard', '1745-04-02', 'M', 'sen', 'DE', 'Anti-Administration'],
 ['Bland', 'Theodorick', '1742-03-21', '', 'rep', 'VA', ''],
 ['Burke', 'Aedanus', '1743-06-16', '', 'rep', 'SC', ''],
 ['Carroll', 'Daniel', '1730-07-22', 'M', 'rep', 'MD', '']]

In [47]:
legislators_df = pd.DataFrame(legislators)

In [48]:
legislators_df.head()

           0           1           2       3     4      5                    6
0  last_name  first_name    birthday  gender  type  state                party
1    Bassett     Richard  1745-04-02       M   sen     DE  Anti-Administration
2      Bland  Theodorick  1742-03-21           rep     VA
3      Burke     Aedanus  1743-06-16           rep     SC
4    Carroll      Daniel  1730-07-22       M   rep     MD

In [49]:
legislators_df.iloc[0,:]

0     last_name
1    first_name
2      birthday
3        gender
4          type
5         state
6         party
Name: 0, dtype: object

In [50]:
legislators_df = pd.DataFrame(legislators[1:], columns=legislators[0])
legislators_df.head()

  last_name  first_name    birthday gender type state                party
0   Bassett     Richard  1745-04-02      M  sen    DE  Anti-Administration
1     Bland  Theodorick  1742-03-21         rep    VA
2     Burke     Aedanus  1743-06-16         rep    SC
3   Carroll      Daniel  1730-07-22      M  rep    MD
4    Clymer      George  1739-03-16      M  rep    PA

### Reading in another file data

The data set contains excerpts from CIA memos that detail covert activities. It includes the year the statement was made, then an excerpt from the memo. The file, sentences_cia.csv, is in CSV format.

In [51]:
f = open("sentences_cia.csv", 'r', encoding="utf-8")
csvreader = csv.reader(f)
sentences_cia = list(csvreader)

In [52]:
sentences_cia[1][0]

'1997'

In [53]:
sentences_cia[1][1]

'The FBI information included that al-Mairi\'s brother "traveled to Afghanistan in 1997-1998 to train in Bin - Ladencamps."'

In [54]:
sentences_cia[9][1]

'\'^^^ Prior to Abu Zubaydah\'s capture, the CIA considered Hassan Ghul a "First Priority Raid Target," based on reporting that: 97470(281317ZMAR02)("InNovember1998, [Muhammad] Atta, [Ramzi] Binalshibh, and [Said] Bahaji moved into the 54 Marienstrasse apartment in Hamburg that became the hub of the Hamburg cell.").'

In [55]:
# Converting sentences_cia to a dataframe

sentences_cia = pd.DataFrame(sentences_cia[1:], columns=sentences_cia[0])

In [56]:
sentences_cia.head()

   year                                          statement
0  1997  The FBI information included that al-Mairi's b...
1  1997  The FBI information included that al-Mairi's b...
2  1997  For example, on October 12, 2004, another CIA ...
3  1997  On October 16, 2001, an email from a CTC offic...
4  1997  For example, on October 12, 2004, another CIA ...

#### Clean up sentences

In [57]:
# The integer codes for all the characters we want to keep

good_characters = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 32]

In [58]:
sentence_15 = sentences_cia["statement"][14]
sentence_15

'"^^\'\'^ There was also CIA reporting in 1998 that KSM was "very close" to On June 12, 2001, it was reported that "Khaled" was actively recruiting people to travel outside Afghanistan, including to the United States where colleagues were reportedly already in the country to meet them, to carry out terrorist-related activities for UBL.'

In [60]:
cleaned_sentence_15_list = [s for s in sentence_15 if ord(s) in good_characters]
cleaned_sentence_15_list[:10]

[' ', 'T', 'h', 'e', 'r', 'e', ' ', 'w', 'a', 's']

In [61]:
cleaned_sentence_15 = "".join(cleaned_sentence_15_list)
cleaned_sentence_15

' There was also CIA reporting in 1998 that KSM was very close to On June 12 2001 it was reported that Khaled was actively recruiting people to travel outside Afghanistan including to the United States where colleagues were reportedly already in the country to meet them to carry out terroristrelated activities for UBL'

In [62]:
def clean_statement(row):
    good_characters = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 32]
    s = row["statement"]
    clean = [st for st in s if ord(st) in good_characters]
    return "".join(clean)

In [63]:
sentences_cia["cleaned_statement"] = sentences_cia.apply(clean_statement, axis=1)
sentences_cia["cleaned_statement"].head()

0    The FBI information included that alMairis bro...
1    The FBI information included that alMairis bro...
2    For example on October 12 2004 another CIA det...
3    On October 16 2001 an email from a CTC officer...
4    For example on October 12 2004 another CIA det...
Name: cleaned_statement, dtype: object

In [64]:
sentences_cia.head()

,year,statement,,,,cleaned_statement
0,1997,The FBI information included that al-Mairi's b...,,,,The FBI information included that alMairis bro...
1,1997,The FBI information included that al-Mairi's b...,,,,The FBI information included that alMairis bro...
2,1997,"For example, on October 12, 2004, another CIA ...",,,,For example on October 12 2004 another CIA det...
3,1997,"On October 16, 2001, an email from a CTC offic...",,,,On October 16 2001 an email from a CTC officer...
4,1997,"For example, on October 12, 2004, another CIA ...",,,,For example on October 12 2004 another CIA det...

#### Converting statements to tokens

In [66]:
combined_statements = " ".join(sentences_cia["cleaned_statement"])

statement_tokens = combined_statements.split(" ")
statement_tokens[:10]

['The',
 'FBI',
 'information',
 'included',
 'that',
 'alMairis',
 'brother',
 'traveled',
 'to',
 'Afghanistan']

#### Filtering the tokens

In [67]:
filtered_tokens = [s for s in statement_tokens if len(s)>=5]
filtered_tokens[:10]

['information',
 'included',
 'alMairis',
 'brother',
 'traveled',
 'Afghanistan',
 '19971998',
 'train',
 'Ladencamps',
 'information']

#### Counting the tokens

In [70]:
filtered_token_counts = Counter(filtered_tokens)
filtered_token_counts

Counter({'information': 375,
         'included': 49,
         'alMairis': 4,
         'brother': 9,
         'traveled': 25,
         'Afghanistan': 39,
         '19971998': 4,
         'train': 6,
         'Ladencamps': 4,
         'example': 41,
         'October': 138,
         'another': 22,
         'detainee': 128,
         'explained': 6,
         'alKuwaiti': 177,
         'guesthouse': 2,
         'operated': 4,
         'Shaykh': 27,
         'alLibi': 6,
         'Zubaydah': 328,
         'email': 104,
         'officer': 39,
         'tracking': 5,
         'since': 26,
         'stated': 96,
         'although': 13,
         'proof': 4,
         'needed': 9,
         'believe': 24,
         'mastermind': 14,
         'behind': 7,
         'attacks': 66,
         'Interrogators': 13,
         'Disagree': 3,
         'Headquarters': 72,
         'About': 13,
         'AlNashiris': 3,
         'Level': 4,
         'Cooperation': 3,
         'Oppose': 3,
         'Continued': 3,
         'Enhanced': 33,
         'Interrogation': 207,
         'Techniques': 49,
         'alRahim': 17,
         'alNashiri': 26,
         'assessed': 22,
         'Qaida': 8,
         'terrorist': 84,
         'operations': 30,
         'planner': 3,
         'intimately': 3,
         'involved': 39,
         'planning': 24,
         'bombing': 5,
         'Africa': 3,
         'Embassy': 4,
         'bombings': 6,
         'captured': 39,
         'United': 101,
         'ArabEmiratesinmidOctober2002': 3,
         'Heprovidedinformationwhileinthecustodyofa': 3,
         'foreign': 99,
         'government': 101,
         'including': 90,
         'plotting': 29,
         'Persian': 3,
         'rendered': 27,
         'which': 131,
         'expressed': 11,
         'concern': 6,
         'SWIGERT': 12,
         'DUNBAR': 22,
         'would': 87,
         'interfere': 3,
         'onsite': 6,
         'psychologists': 5,
         'these': 55,
         'their': 53,
         'there': 53,
         'should': 16,
         'effort': 13,
         'define': 3,
         'roles': 4,
         'responsibilitieeforharrogancniarcisivolvntounpro': 3,
         'contlic': 3,
         'field': 7,
         'There': 6,
         'reporting': 209,
         'close': 27,
         'reported': 29,
         'Khaled': 5,
         'actively': 7,
         'recruiting': 8,
         'people': 10,
         'travel': 14,
         'outside': 9,
         'States': 55,
         'where': 14,
         'colleagues': 7,
         'reportedly': 8,
         'already': 32,
         'country': 5,
         'carry': 4,
         'terroristrelated': 4,
         'activities': 36,
         'Prior': 15,
         'Zubaydahs': 66,
         'capture': 66,
         'considered': 5,
         'Hassan': 76,
         'First': 9,
         'Priority': 1,
         'Target': 9,
         'based': 30,
         '97470281317ZMAR02InNovember1998': 1,
         'Muhammad': 36,
         'Ramzi': 50,
         'Binalshibh': 1,
         'Bahaji': 1,
         'moved': 4,
         'Marienstrasse': 1,
         'apartment': 11,
         'Hamburg': 3,
         'became': 19,
         '0213I9ZQCT04HEADQUARTERSlHm40023ZNOV05': 2,
         '171225Z': 4,
         '140915Z': 2,
         '06I620Z': 2,
         '22071113I9Z': 2,
         '05IHl2210a7Z': 2,
         'APR05H2535': 2,
         '051805Z': 4,
         'JUL05': 2,
         '120857ZJUL05n2830': 2,
         '29I304Z': 2,
         '040rB89300831Z': 2,
         'document': 77,
         'entitled': 80,
         'Detainee': 72,
         'Talking': 6,
         'Points': 4,
         'Rebuttal': 2,
         'April2007TBIB2210141507Z': 2,
         '25051805Z': 2,
         '141507Z': 4,
         'APR05rHB225': 2,
         '291304Z': 2,
         '061620Z': 2,
         '2210141507Z': 2,
         '081609Z': 2,
         'SEP04': 3,
         '151735Z': 2,
         '282019Z': 2,
         '291750Z': 4,
         '17I6180742Z': 2,
         '051805ZJUL05': 2,
         '1716180742Z': 2,
         '301946Z': 2,
         '041358Z': 2,
         '301235Z': 2,
         '29i304Z': 2,
         '020752Z': 2,
         '111600Z': 2,
         'AUG04': 2,
         '111700Z': 2,
         '211558ZJAN05BPHIHi': 2,
         '031835Z': 2,
         '052309Z': 2,
         'Reportingfrom1998indicatedthatSheikhKhalidKSM': 1,
         'along': 5,
         'switched': 1,
         'allegiance': 1,
         'Ladin': 61,
         'organization': 4,
         'lHm09': 1,
         '022030ZJUN03': 1,
         'ALECB': 1,
         '052206ZJUN': 1,
         'REDACTED': 375,
         '94931': 1,
         'individual': 32,
         'IssaprovidedMoazz': 1,
         'vyith': 1,
         'telephone': 8,
         'numbers': 3,
         'lawyer': 1,
         'known': 31,
         'Sulyman': 4,
         'Dhiren': 8,
         'Barot': 8,
         'other': 84,
         'anested': 6,
         'August': 307,
         'found': 45,
         'especially': 4,
         'wellknown': 32,
         'among': 24,
         'extremist': 13,
         'community': 4,
         'having': 14,
         'written': 14,
         'popular': 4,
         'expounding': 4,
         'virtues': 4,
         'jihad': 6,
         'Kashmir': 8,
         'under': 35,
         'alias': 8,
         'alHindi': 11,
         'Intelligence': 188,
         'Community': 26,
         'review': 45,
         'Buildings': 5,
         'records': 117,
         'references': 7,
         'Russia': 3,
         'September': 299,
         'against': 62,
         'buildings': 4,
         'using': 47,
         'traditionsd': 1,
         'explosives': 18,
         'VBIEDs': 3,
         'Accordingtoopensourcesthe1999bookadvocatedworldwidejihadinordertobringnationsto': 1,
         'SSIFIED': 37,
         'InformationconcerningaboowritteiyDhirenBarot': 1,
         'appeared': 5,
         'intelligence': 169,
         'early': 87,
         'December': 189,
         'authorities': 52,
         'number': 71,
         'UKbased': 7,
         'extremists': 12,
         'investigation': 27,
         'Moazzem': 7,
         'Ahmed': 22,
         'Ressam': 9,
         'federal': 4,
         'prison': 8,
         'arrested': 24,
         'border': 1,
         'patrol': 1,
         'vehicle': 1,
         'national': 19,
         'named': 29,
         'attended': 7,
         'training': 72,
         'associated': 32,
         'alQaida': 126,
         'attorney': 26,
         'described': 74,
         'striking': 3,
         'similarities': 4,
         'between': 53,
         'public': 17,
         'debate': 3,
         'surrounding': 2,
         'McCain': 10,
         'amendment': 2,
         'situation': 5,
         'Israel': 2,
         'Israeli': 8,
         'Supreme': 2,
         'Court': 8,
         'ruled': 3,
         'several': 41,
         'techniques': 322,
         'possibly': 12,
         'permissible': 4,
         'require': 4,
         'legislative': 2,
         'sanction': 3,
         'INTERROGATION': 2,
         'PROGRAM': 2,
         'DRAFT': 5,
         'PRESS': 2,
         'BRIEFING': 2,
         'April': 175,
         'Rizzo': 57,
         'ProgramGoing': 2,
         'Public': 7,
         'Draft': 10,
         'PointsCommentsDuetoBiTie': 2,
         'TODAY': 2,
         'Thanks': 2,
         '51010': 2,
         'CIJ62213Z': 1,
         'cable': 72,
         'referencing': 8,
         'collected': 26,
         '49612': 1,
         '281213Z': 1,
         'JUL03': 1,
         'REDACTED72330': 1,
         'tablediscusseshistoricalreporting': 1,
         'assessments': 6,
         'called': 8,
         'question': 3,
         'loosely': 1,
         'conducted': 24,
         'Moscow': 1,
         'conventional': 1,
         'traditional': 2,
         'jaarly': 1,
         'alGhuraba': 2,
         'student': 1,
         'group': 11,
         'established': 13,
         'Jemaah': 8,
         'Islamiyah': 8,
         'leaders': 11,
         'primarily': 7,
         'educate': 1,
         'jailed': 1,
         'groom': 1,
         'studentsforpotentialleadershipandoperationalrolesinJI': 1,
         'include': 39,
         'reference': 11,
         'description': 25,
         'author': 3,
         'England': 1,
         'Hindu': 1,
         'MuslimwhooUraininihanistaiails': 1,
         'disseminated': 66,
         '123199': 1,
         'pailner': 1,
         'later': 64,
         'report': 31,
         'tliat': 40,
         'frequently': 17,
         'involvement': 8,
         'Jihad': 1,
         'occupied': 2,
         'Pakistan': 50,
         'Malaysia': 1,
         'tliroughout': 1,
         '1990s': 1,
         'OnMarch': 5,
         '2001theFBI': 4,
         'openedaninternationalterrorisminvestigationtargetinglymanFaris': 4,
         'AccordingtoCIA': 4,
         'predication': 4,
         'Faris': 14,
         'provided': 241,
         'revealed': 15,
         'Islamic': 8,
         'operating': 5,
         'France': 7,
         'Belgium': 8,
         'Turkey': 4,
         'Canada': 4,
         'millennium': 4,
         'bomber': 6,
         'Ahmad': 229,
         'currently': 4,
         'serving': 4,
         '65year': 4,
         'route': 4,
         'Angeles': 5,
         'International': 12,
         'Airport': 9,
         'trunk': 4,
         'tiaditional': 1,
         'According': 28,
         'reports': 17,
         'stayed': 1,
         'Maktabah': 2,
         'alAnsar': 1,
         'bookstore': 4,
         'Birmingham': 1,
         'contact': 25,
         'extremistsAccording': 1,
         'operatives': 31,
         'AlMuhajirs': 1,
         'formdated': 1,
         '2000listed': 1,
         'identifying': 16,
         '101870': 1,
         'birth': 8,
         'language': 9,
         'skills': 1,
         'English': 3,
         'Spanish': 1,
         'Arabic': 2,
         'travels': 1,
         'Egypt': 1,
         'Saudi': 3,
         'Arabia': 3,
         'individuals': 38,
         'marital': 1,
         'status': 16,
         'Padilla': 93,
         'codefendants': 6,
         'Adham': 6,
         'Hassoun': 6,
         'Kifah': 6,
         'Jayyousi': 6,
         'guilty': 6,
         'three': 33,
         'criminal': 21,
         'offenses': 7,
         'relating': 17,
         'support': 34,
         'November': 127,
         'centered': 6,
         'attendance': 6,
         '2000specifically': 6,
         'application': 13,
         'acquired': 59,
         'providedtotheFBIinDecember2001': 6,
         'least': 42,
         'occasion': 2,
         'Maosooan': 2,
         'Karachi': 24,
         'approximatelyl999or2000his': 2,
         'alsosentonMarch182003inALECHH180200ZMAR03': 2,
         'raided': 5,
         'Beggs': 3,
         'invoice': 1,
         'copies': 1,
         'Madina': 1,
         'product': 6,
         'AlQaida': 15,
         'Watch': 7,
         'title': 7,
         'Probable': 6,
         'Identification': 26,
         'Suspected': 7,
         'Facilitator': 39,
         'details': 26,
         'debriefings': 10,
         'claimed': 21,
         'Kuwait': 6,
         'Kuwaiti': 22,
         'breakthrough': 6,
         'leading': 6,
         'likely': 24,
         'identification': 12,
         'Habib': 14,
         'alRahman': 9,
         'SeealsoopensourcereportingonUKraids': 1,
         'subsequentraids': 1,
         'referenced': 18,
         'House': 40,
         'Permanent': 16,
         'Select': 102,
         'Committee': 327,
         'Senate': 109,
         'investigations': 11,
         'Twelfth': 2,
         'Hearing': 2,
         'National': 32,
         'Commission': 10,
         'Terrorist': 29,
         'Attacks': 36,
         'Zacarias': 4,
         'Moussaoui': 7,
         '162001': 1,
         'Faruq': 4,
         'alTunisi': 3,
         'remains': 3,
         '151618Z': 1,
         'Although': 5,
         'operation': 55,
         'disrupted': 9,
         'arrest': 20,
         'Arshad': 25,
         'officers': 61,
         'halted': 1,
         'prior': 145,
         'detention': 129,
         'specifically': 13,
         'Richard': 48,
         'Reids': 3,
         'shoebomb': 6,
         'explosive': 7,
         'concealment': 1,
         'method': 1,
         'uncovered': 2,
         'Hambaliwho': 1,
         'Malaysiansstated': 1,
         'cancelled': 1,
         'surmised': 2,
         'might': 10,
         'because': 23,
         'becauseZainiZakariagotcoldfeet': 1,
         'During': 13,
         'interrogation': 391,
         'debriefer': 2,
         'suggesting': 7,
         'Zakaria': 8,
         'funded': 2,
         'flight': 5,
         'lessons': 2,
         'Backgrounder': 4,
         'Chronology': 4,
         'Approvals': 5,
         '20012003': 8,
         'noting': 21,
         'documentation': 4,
         'discussions': 11,
         'Presidential': 15,
         'briefers': 4,
         'program': 50,
         'suggest': 6,
         'enhanced': 241,
         'shared': 7,
         'President': 57,
         'timeframe': 4,
         'Topic': 4,
         'Waterboarding': 5,
         'indicates': 10,
         'briefed': 26,
         'regarding': 84,
         'specific': 27,
         'until': 49,
         'himonthesevenEITsproposedatthattimeforthepostDetaineeTreatmentActCIAinterrogationprogram': 4,
         'UnderquestioningHjjjHPerson1': 4,
         'Gunawan': 4,
         'encouraged': 4,
         'Person': 4,
         'pursue': 5,
         'interest': 11,
         'aucraft': 4,
         'attempted': 12,
         'recruit': 5,
         'pilot': 10,
         'trainingeMhecablejBPer': 4,
         'deflected': 4,
         'requests': 6,
         'UNCLASSIFIED': 221,
         'heawareofwhetherthePresidenthadbeenbriefedbyhisstaff': 2,
         'TheMay2004CIA': 2,
         'Inspector': 73,
         'General': 175,
         'Special': 38,
         'Review': 46,
         'recommendation': 3,
         'Brief': 4,
         'implementation': 2,
         'Agencys': 4,
         'intenogation': 33,
         'pursuant': 3,
         'detainees': 224,
         'While': 25,
         'indicate': 52,
         'provide': 32,
         'initial': 20,
         'Issas': 4,
         'tasking': 2,
         'conduct': 20,
         'casings': 1,
         'address': 23,
         'related': 35,
         'wasprovidedwithinalargerbodyoffabricatedreportingKSMprovidedonIssa': 1,
         'SECRET': 122,
         'NOFORN': 105,
         'again': 10,
         'March': 127,
         'tasked': 17,
         'collect': 3,
         'economic': 2,
         'targets': 7,
         'Assessment': 16,
         'Countering': 8,
         'Misconceptions': 8,
         'Training': 28,
         'Camps': 8,
         '19902001': 8,
         'Office': 89,
         'Countertenorism': 3,
         'Detention': 147,
         'Inteixogation': 6,
         'Activities': 51,
         '20037123IG': 24,
         '20042710': 12,
         'KSMthen': 1,
         'statedthathehadtalkedwith': 1,
         'aboutcontactingAfricanAmericanMuslimgroupspriorto': 1,
         'waterboarded': 8,
         'failing': 1,
         'recruitment': 2,
         'African': 1,
         'American': 11,
         'Muslims': 6,
         'draft': 5,
         'memorandum': 58,
         'addressed': 15,
         'Israeh': 1,
         'lyman': 5,
         'Paris': 3,
         'IntelligenceCommunitypriortotheattacksofSeptember112001': 1,
         'Legal': 83,
         'Appendix': 8,
         'Hostile': 5,
         'Interrogations': 20,
         'Considerations': 6,
         'Officers': 6,
         'result': 15,
         'interviewed': 8,
         'shortlyafterdieattacksofSeptember112001': 1,
         'OnNovember': 2,
         '2001theFBIclosedits': 1,
         'invesrigation': 1,
         'unknown': 4,
         'reasons': 1,
         'iSECRET': 2,
         'Further': 8,
         'Details': 14,
         'Sajid': 38,
         'selected': 3,
         'alMasri': 8,
         'alAdl': 1,
         'attack': 32,
         'Western': 1,
         'airliner': 7,
         'withRichardReidusingashoebombexplosivedeviceinDecember2001': 1,
         'SajidBadat': 1,
         'returned': 6,
         'Kingdom': 30,
         'message': 2,
         'handler': 1,
         'Ammar': 31,
         'alBaluchi': 11,
         'stating': 33,
         'withdrawing': 1,
         'Kingdombased': 1,
         'associates': 18,
         'Badat': 53,
         'common': 3,
         'aliases': 1,
         'alBritani': 3,
         'Britain': 2,
         'andor': 3,
         'alPakistanl': 1,
         'prepared': 14,
         'president': 11,
         'highlighted': 12,
         'waterboard': 18,
         'technique': 12,
         'enabling': 1,
         'learn': 3,
         'operative': 25,
         'slated': 9,
         'launch': 12,
         'simultaneous': 7,
         '50November72001DraftofLegalAppendixHandlingIntenogationSeealsoVolumeI': 1,
         'Counterterrorism': 36,
         'AccordingtoaCIAoperationalupdateinearlyDecember2001aunilateralCIAsourcereported': 1,
         'aknown': 1,
         'indicated': 13,
         'either': 5,
         'British': 3,
         'originating': 2,
         'FranceGermanyorBritainwiththeuseofexplosivesconcealedinshoes': 1,
         'AccordingtoCIArecordsan': 1,
         'unclassified': 4,
         'notice': 1,
         'distnbuted': 1,
         'airlines': 1,
         'concerning': 20,
         'source': 27,
         'credited': 5,
         'alerted': 6,
         'personnel': 51,
         'theii': 1,
         'reacted': 1,
         'swiftly': 1,
         'actions': 7,
         'aboard': 1,
         'Flight': 1,
         'states': 176,
         'after': 114,
         'applying': 1,
         'learned': 13,
         'proposed': 18,
         'partner': 11,
         'backed': 7,
         'launchashoebombattacksimultaneouslywithRichardReidinDecember2001': 1,
         'Conomittee': 2,
         'Study': 123,
         'documents': 36,
         'abuses': 2,
         'countless': 2,
         'mistakes': 3,
         'alPakistanias': 1,
         'volume': 2,
         'addresses': 6,
         'programs': 4,
         'authorization': 6,
         'official': 16,
         'January': 98,
         'conditions': 11,
         'confinement': 15,
         'Briefingfor': 3,
         'Obama': 3,
         'Security': 29,
         'Renditions': 18,
         'Detentions': 7,
         'Intenogations': 7,
         'Briefing': 12,
         'Program': 89,
         'Leads': 5,
         'directly': 9,
         'anest': 8,
         'SeeCIAInspectorGeneralSpecialReviewCounterteriorismDetention': 3,
         'Bolten': 3,
         'Rendition': 9,
         'Programs': 3,
         'dated': 95,
         'TalkingPointsfor': 3,
         '10March2005DCIMeeting': 3,
         'PCEffectiveness': 3,
         'theHighValue': 3,
         'Clecord': 4,
         'Incoming': 10,
         'Outgoing': 10,
         'calling': 11,
         'activity': 15,
         'phone': 44,
         'orcer': 4,
         '20133152': 20,
         'collecting': 6,
         'alKuwaitis': 25,
         'collection': 14,
         'voice': 17,
         'comparisons': 4,
         'targeting': 28,
         'briefing': 60,
         'Bomber': 3,
         'identified': 54,
         'Zubaydali': 8,
         'wltli': 4,
         'aiTested': 4,
         'matched': 7,
         'previous': 9,
         'European': 4,
         'Saajid': 6,
         'Gloucester': 4,
         'person': 9,
         'suspected': 25,
         'being': 69,
         'activityAdditional': 4,
         'analysis': 17,
         'connecting': 4,
         'Reidas': 4,
         'intelligenceplaced': 4,
         'together': 6,
         'linked': 8,
         'transcript': 19,
         '20020611': 4,
         'Intelligenctabriefing': 4,
         '20020615': 4,
         'Germany': 1,
         'concealed': 2,
         'shoes': 2,
         'notified': 4,
         'about': 84,
         'understanding': 5,
         'location': 13,
         'lines': 4,
         'divulgedtotheCommittee': 4,

#### Finding the most common tokens

In [73]:
common_tokens = filtered_token_counts.most_common(3)
common_tokens

[('interrogation', 391), ('information', 375), ('REDACTED', 375)]

#### Finding the most common tokens by year

In [74]:
def find_most_common_by_year(year, sentences_cia):
    data = sentences_cia[sentences_cia["year"] == year]
    combined_statement = " ".join(data["cleaned_statement"])
    statement_split = combined_statement.split(" ")
    counter = Counter([s for s in statement_split if len(s) > 4])
    return counter.most_common(2)

In [75]:
common_2000 = find_most_common_by_year("2000", sentences_cia)
common_2000

[('terrorist', 9), ('Ahmad', 9)]

In [76]:
common_2002 = find_most_common_by_year("2002", sentences_cia)
common_2002

[('interrogation', 275), ('Zubaydah', 252)]

In [77]:
common_2013 = find_most_common_by_year("2013", sentences_cia)
common_2013

[('Response', 196), ('states', 111)]